<details open>
  <summary>Incompleted tasks  </summary>
  <div class="container" *ngIf="listOfTodos.length > 0">
    <div class="wrapper" *ngFor="let list of listOfTodos;let i=index;">
      <div class="card" *ngIf="list.checked==false">
        <input type="checkbox"  [(ngModel)]="list.checked" >
        <span>{{ list.value }}</span>
        <div class="arrows">
          <span ><button class="arrow" (click)="moveUp(i)">&#x2B06;</button></span>
          <span ><button class="arrow" (click)="moveDown(i)">&#x2B07;</button></span>
        
        <button class="btn btn-danger" (click)="deleteTask(i)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</details>
<details open>
  <summary>Completed tasks  </summary>
  <div class="container" *ngIf="listOfTodos.length > 0">
    <div class="wrapper" *ngFor="let list of listOfTodos;let i=index;">
      <div class="card" *ngIf="list.checked==true">
        <input type="checkbox"  [(ngModel)]="list.checked" >
        <span>{{ list.value }}</span>
        <div class="arrows">
          <span ><button class="arrow" (click)="moveUp(i)">&#x2B06;</button></span>
          <span ><button class="arrow" (click)="moveDown(i)">&#x2B07;</button></span>
        
        <button class="btn btn-danger" (click)="deleteTask(i)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</details>
