.card{
    margin:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}


summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  details {
    
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
  }
  details[open] {
    padding: 0.5em;
  }
  
  details[open] summary {
    border-bottom: 1px solid #aaa;
 
  }
  .arrow{
    border:none;
    background-color: transparent;
  }
 
  

 
  

  