<details open>
  <summary>Incompleted tasks</summary>
  <div
    class="container"
    *ngIf="listOfTodos.length > 0"
    cdkDropList
    (cdkDropListDropped)="onDrop($event, incompleteTasks)"
  >
    <div
      class="wrapper"
      *ngFor="let list of listOfTodos; let i = index"
      cdkDrag
      (cdkDragStarted)="onDragStarted()"
    >
      <div class="card" *ngIf="list.checked == false">
        <input type="checkbox" [(ngModel)]="list.checked" />
        <span>{{ list.value }}</span>
        

          <button class="btn btn-danger" (click)="deleteTask(i)">Delete</button>
     
      </div>
    </div>
  </div>
</details>
<details open>
  <summary>Completed tasks</summary>
  <div
    class="container"
    *ngIf="listOfTodos.length > 0"
    cdkDropList
    (cdkDropListDropped)="onDrop($event, completeTasks)"
  >
    <div
      class="wrapper"
      *ngFor="let list of listOfTodos; let i = index"
      cdkDrag
      (cdkDragStarted)="onDragStarted()"
    >
      <div class="card" *ngIf="list.checked == true">
        <input type="checkbox" [(ngModel)]="list.checked" />
        <span
          ><s>{{ list.value }}</s></span
        >
        

          <button class="btn btn-danger" (click)="deleteTask(i)">Delete</button>
        
      </div>
    </div>
  </div>
</details>
